.services-con {
    height: 100vh;
}

.services-page {
    background-image: url("https://images.pexels.com/photos/1054397/pexels-photo-1054397.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 500px;
}