.home-container {
  height: 100vh;
  width: 100%;
}

.home-img {
  width: 100%;
  height: 400px;
}

.home-page-middle-sec {
  margin: 20px;
}

.middle-sec-heading {
  color: firebrick
}

.faq-section {
  margin: 50px;
}

.faq-section-heading {
  font-size: 30px;
  font-weight: 500;
  color: firebrick
}

.faq-list {
  color: firebrick;
  cursor: pointer;
}
.faq-list:hover {
  text-decoration: underline;
}